<nav id="sidebar">
  <div class="sidebar-header">
    <h3 *ngIf="userService.isUserLoggerIn()">{{username}}</h3>
    <a *ngIf="userService.isUserLoggerIn()" routerLink="logout" class="nav-link" routerLinkActive="active">Logout</a>
    <a *ngIf="!userService.isUserLoggerIn()" routerLink="login" class="nav-link" routerLinkActive="active">Login</a>
  </div>
  <ul class="list-unstyled components">
    <li class="active">
      <a href="#employeeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">EmployeeModel</a>
      <ul class="collapse list-unstyled" id="employeeSubmenu">
        <li>
          <a routerLink="employee/list" class="nav-link" routerLinkActive="active">Employee List</a>
        </li>
      </ul>
    </li>

    <!--    <li>-->
    <!--      <a href="#pageSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>-->
    <!--      <ul class="collapse list-unstyled" id="pageSubMenu">-->
    <!--        <li>-->
    <!--          <a href="#">Page 1</a>-->
    <!--        </li>-->
    <!--        <li>-->
    <!--          <a href="#">Page 2</a>-->
    <!--        </li>-->
    <!--        <li>-->
    <!--          <a href="#">Page 3</a>-->
    <!--        </li>-->
    <!--      </ul>-->
    <!--    </li>-->
    <!--    <li>-->
    <!--      <a href="#">Portfolio</a>-->
    <!--    </li>-->
    <!--    <li>-->
    <!--      <a href="#">Contact</a>-->
    <!--    </li>-->
  </ul>
</nav>
