<div class="panel panel-primary">
  <div class="panel-heading">
    <a class="btn btn-primary" routerLink="/employee/add">Add Employee</a>
  </div>
  <br/>
  <div class="panel-body">
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
      <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees | async">
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.email}}</td>
        <td>
          <button (click)="updateEmployee(employee.id)" class="btn btn-info">Edit</button>
          <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          <button (click)="deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
